<!DOCTYPE html>
<html>
<head>
    <title>Annuncio</title>
    <script defer>
        async function asd() {
            var annuncio = await (await fetch('/annunci?id=1')).json()
            console.log(annuncio)
        }
        asd();
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .fakeimg {
            height: 300px;
            background: #aaa;
            background-size: cover;
        }
    </style>
    <script>
        var url_string = window.location.href; //window.location.href
        var url = new URL(url_string);
        var c = url.searchParams.get("id");
        document.title = c;
    </script>
</head>
<body>
    <div class="jumbotron text-center" style="margin-bottom:0">
        <h1>APPartamenti</h1>
    </div>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="index.html">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="profilo.html">Profilo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="preferiti.html">Preferiti</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="gestioneAnnuncio.html">Gestisci annuncio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="ricercaAnnunci.html">Ricerca annunci</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="ricercaUtenti.html">Ricerca utenti</a>
                </li>
            </ul>
        </div>
    </nav>

    <script>
        var url_string = window.location.href; //window.location.href
        var url = new URL(url_string);
        var c = url.searchParams.get("id");
        console.log(c);
    </script>

    <div class="container" style="margin-top:30px; padding:30px">
        <h4 id="titolo"></h4>
        <a href="#"><small id="proprietario">Proprietario</small></a>
        <br><br>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="fakeimg">1</div>
                    <!--<img class="d-block w-100" src="..." alt="First slide">-->
                </div>
                <div class="carousel-item">
                    <div class="fakeimg">2</div>
                    <!--<img class="d-block w-100" src="..." alt="Second slide">-->
                </div>
                <div class="carousel-item">
                    <div class="fakeimg">3</div>
                    <!--<img class="d-block w-100" src="..." alt="Third slide">-->
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <br />
        <p id="ubicazione">Ubicazione:</p>
        <p id="numCamere">Numero di camere:</p>
        <p id="numBagni">Numero di bagni:</p>
        <p id="isolamento">Isolamento:</p>
        <p id="riscaldamento">Riscaldamento:</p>
        <p id="classeEnergetica">Classe energetica:</p>
        <p id="wifi">Wifi:</p>
        <p id="servizi">Servizi:</p>
        <p id="inquilini">Inquilini:</p>
        <p class="text-right"><small id="modifica">Ultima modifica:</small></p>
        <!--descrizione? Ubicazione, numCamere, numBagni, isolamento, riscaldamento, wifi
    servizi, classeEnergetica, dataModifica, proprietario, inquilini-->
    </div>

    <script>
        async function scrivi() {
            var annuncio = await(await fetch('/annunci')).json();
            var url_string = window.location.href;
            var url = new URL(url_string);
            var i = url.searchParams.get("id");
            console.log(annuncio[i]);
            var titolo = document.getElementById("titolo");
            titolo.innerHTML = annuncio[i].titolo;
            var ubicazione = document.getElementById("ubicazione");
            ubicazione.innerHTML = "Ubicazione: " + annuncio[i].ubicazione;
            var numCamere = document.getElementById("numCamere");
            numCamere.innerHTML = "Numero di camere: " + annuncio[i].numCamere;
            var numBagni = document.getElementById("numBagni");
            numBagni.innerHTML = "Numero di bagni: " + annuncio[i].numBagni;
            var isolamento = document.getElementById("isolamento");
            isolamento.innerHTML = "Isolamento: " + annuncio[i].isolamento;
            var riscaldamento = document.getElementById("riscaldamento");
            riscaldamento.innerHTML = "Riscaldamento: " + annuncio[i].riscaldamento;
            var classeEnergetica = document.getElementById("classeEnergetica");
            classeEnergetica.innerHTML = "Classe energetica: " + annuncio[i].classeEnergetica;
            var wifi = document.getElementById("wifi");
            if (annuncio[i].wifi)
                wifi.innerHTML = "Wifi incluso"
            else
                wifi.innerHTML = "Wifi non incluso"

            var modifica = document.getElementById("modifica");
            modifica.innerHTML = "Ultima modifica: " + annuncio[i].dataModifica;

            var proprietario = document.getElementById("proprietario");
            proprietario.innerHTML = annuncio[i].proprietario.name;

            var servizi = document.getElementById("servizi");
            servizi.innerHTML = "Servizi: ";
            for (var x = 0; x < annuncio[i].servizi.length; x++) {
                servizi.innerHTML = servizi.innerHTML + annuncio[i].servizi[x] + ", ";
            }

            let foto = annuncio[i].foto;
            for (let k = 0; k < foto.length; k++) {
                console.log(document.getElementsByClassName('fakeimg'))
                document.getElementsByClassName('fakeimg')[k].style.backgroundImage = `url("${foto}")`;
            }
        }
        scrivi();
        
    </script>
</body>
</html>