<!DOCTYPE html>
<html>
<head>
    <title>Annuncio</title>
    <script defer>
        async function asd() {
            var annuncio = await (await fetch('/annunci?id=1')).json()
            console.log(annuncio)
        }
        asd();
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .fakeimg {
            height: 300px;
            background: #aaa;
        }
    </style>
    <script>
        var url_string = window.location.href; //window.location.href
        var url = new URL(url_string);
        var c = url.searchParams.get("id");
        document.title = c;
    </script>
</head>
<body>
    <p id="prova">ciao</p>
    <script>
        async function prova(){
            var url_string = window.location.href;
            var url = new URL(url_string);
            var i = url.searchParams.get("id");
            var utente = await (await fetch('/users/' + i)).json();

            console.log(utente);
        }
        prova();
    </script>
</body>
</html>